<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Vendas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Dashboard de Vendas</h1>

        <div class="row">

            <div class="col-md-4">
                <div class="card text-white bg-primary">
                    <div class="card-header">Total de Vendas</div>
                    <div class="card-body">
                        <h5 class="card-title">R${{ total }}</h5>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-info">
                    <div class="card-header">Total de Vendas do Dia</div>
                    <div class="card-body">
                        <h5 class="card-title">R${{ total_dia }}</h5>
                        <button class="btn btn-primary" onclick="window.location.href = '{% url 'detalhesDias' %}'">visualizar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-warning">
                    <div class="card-header">Total de Vendas da Semana</div>
                    <div class="card-body">
                        <h5 class="card-title">R${{ total_semana }}</h5>
                        <button class="btn btn-primary" onclick="window.location.href = '{% url 'detalhesSemana' %}'">visualizar</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-danger">
                    <div class="card-header">Total de Vendas do Mês</div>
                    <div class="card-body">
                        <h5 class="card-title">R${{ total_mes }}</h5>
                        <button class="btn btn-primary">visualizar</button>
                    </div>
                </div>
            </div>

            {% if mais_vendido %}
            <div class="col-md-10">
                <div class="card text-white bg-success">
                    <div class="card-header">Produto Mais Vendido</div>
                    <div class="card-body">
                        <h5 class="card-title">Produto: {{ mais_vendido.produto__nome_produto }}</h5>
                        <p class="card-text">Quantidade Vendida: {{ mais_vendido.total_vendido }}</p>
                        <p class="card-text">Total Arrecadado: R${{ mais_vendido.total_revenue }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- <div class="card">
            <div class="card-header">Detalhes das Vendas</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for venda in vendas %}
                        <li class="list-group-item">
                            {{ venda.produto.nome_produto }} - {{ venda.qtd }} unidades - Total: R${{ venda.total }} - Data: {{ venda.data_venda }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div> -->

        {% if vendas_mensais %}
        <div class="card mt-4">
            <div class="card-header">Vendas Mensais</div>
            <div class="card-body">
                <ul class="list-group">

                    {% for venda in vendas_mensais %}
                        <li class="list-group-item">
                            Mês: {{ venda.data_venda__month }}/{{ venda.data_venda__year }} - Total {{ venda.total_mensal }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}




    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
